html{
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg);
    background-size: auto;
}
/* 整体布局 */
body,
html{
    padding:0px;
    margin:0px;
    font-family: sans-serif;
}
/* 大的布局 */
.keys{
    min-height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
/* 每个边框的布局 */
.key{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}
/* 这是大写的字母 */
kbd {
    display: block;
    font-size: 4rem;
  }
  /* 字母下面的英文 */
.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}
/* 这是当目标被选中的时候的边框效果，我们通过js给要使用的文件进行添加class playing的效果 */
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}